[core]
	excludesfile = /Users/samjewell/.gitignore_global
	mergeoptions = --no-edit
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Sam Jewell
	email = sam.jewell@gmail.com
[rerere]
	enabled = true
[diff]
	compactionHeuristic = true
[push]
	default = current
[commit]
	template = /Users/samjewell/.stCommitMsg
